*{
    margin: ();
    padding: ();
}

.container{
    width: 1oo% ;
    height:100vh;
    background-image: url (6.jpg);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    padding-left:8%;
    Padding-right:8%;
    box-sizing: border-box;
}


.header{
    height: 15%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.logo{
   width: 200px;
   cursor: pointer;

}

.navbar{
    text-align:center ;
    flex: 1;

}

.navbar a{
    padding: 6px 20px;
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 20px;
    font-weight:bold;

}
. btn{
    cursor: pointer;
    color: beige;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 10px 30px;
    border: 2px solid burlywood;
    background: transparent;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin: 40px 8px;
}

.btn:hover{
    color: #000;
    background-color: #fff;
}

.btn a:visited{
    background-color: #fff;
    color: #cc0052;
}
.btn a:hover {
    color: #000;

}
  .btn a:link{

    text-decoration: none;
}



.content{
    text-align: center;
    margin-top: 12%;

}

.content h1{
    font-size: 80px;
    color: white;

}
